html {
  font-size: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
   box-sizing: border-box;
}

main {
  display: flex;
}

section {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-family: monospace;
  background: red;
  color: black;
  padding: 3rem;
}


ul {
  background: black;
  color: white;
  width: fit-content;
  font-size: 8.5rem;
  padding: 0.75rem 2.25rem;
  text-align: center;
}

.something::before {
  content: 'NOTHING'
  transition: all 0.2s linear;
  animation-direction: reverse;
}

.something:hover::before, .something:active::before, .something:focus::before {
  animation-fill-mode: forwards;
  animation: changeContent 0.5s linear forwards;
}

@keyframes changeContent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    content: "SOMETHING";
  }
}

@media (max-width: 640px) {

  body {
    align-items: stretch;
  }
  
  main {
     flex-direction: column;
  }

  section {
    flex: 1;
  }

  ul {
    width: 100%;
  }
}
